MONGODB_URI=mongodb+srv://sagar553pradhan_db_user:5ax054vVAzKpkl9D@cinema.xnvpmhf.mongodb.net/?appName=Cinema
CLOUDINARY_CLOUD_NAME=dvwumevhj
CLOUDINARY_API_KEY=763499967723771
CLOUDINARY_API_SECRET=DVHqFF8TOcJPiIourqOXSheAjZI
PORT=5000
ADMIN_PASSWORD=admin123